    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b0b4b1b4;">

      <div class="btn-group btn-group-toggle" data-toggle="buttons"></div>
      <a class="navbar-brand" href="{% url 'home' %}"> &emsp; &emsp; Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'home' %}">&emsp; Progress</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'home' %}"> &emsp; Train word</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'home' %}"> &emsp; Train syllables</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          {% if user.is_authenticated %}
            <p style="color: white;">Hello, {{user.username}} &emsp; </p>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'register' %}">Register</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
        
      </nav>
      <!--END NVBAR-->

      
       
      